* {
    background-color: #3B7339;

}

nav {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-evenly;
}

a {
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #260101;
    text-decoration: none;

}

a:hover {
    transition: .4s;
    color: white;

}

.grid-container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

h3 {
    display: flex;
    justify-content: center;
    color: #260101;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.a1 {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

span {
    color: #8C1C25;
}

.a2 {
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
}

.a3 {
    grid-column: 1/4;
    grid-row: 3/4;
}

p {
    color: #260101;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: .5rem;
}

/* meny */

.border {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    justify-content: center;

}

.card {
    border: 3px solid #260101;
    margin: 1rem;
}

/* Bokabord */
form {
    color: #260101;
    margin-bottom: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
}

.bokabord {
    display: flex;
    justify-content: center;
}